<%= render "shared/admin_panel" %>

<p>
	Buyer first name: <%= @buyer.first_name %>
</p>

<p>
	Buyer last name: <%= @buyer.last_name %>
</p>

<p>
	<b>List of ordered items:</b>
</p>

<table>
	<tr>
		<td>Product</td>
		<td>Quantity</td>
		<td>Price</td>
	</tr>
	<% @order.order_items.each do |t| %>
		<tr>
			<td><%= t.product.name %></td>
			<td><%= t.quantity %></td>
			<td><%= t.price / 100.0 %>$</td>
			<% @total_price += t.price %>
		</tr>
	<% end %>
</table>
<p>
	<b>Total price:</b> <%= @total_price / 100.0 %>$<br/>
</p>
<%= link_to "Back", :back %><br/>
<%= render "shared/main_page" %>