<h1>This is your current order</h1>

<table>
	<tr>
		<td><b>Product</b></td>
		<td><b>Quantity</b></td>
		<td><b>Price</b></td>
	</tr>
	<% @cart.order_items.each do |t| %>
		<tr>
			<td><%= t.product.name %></td>
			<td><%= t.quantity %></td>
			<td><%= t.price / 100.0 %>$</td>
			<% @total_price += t.price * t.quantity %>
			<td>
				<%= form_tag :action => :delete_order_item, :id => t do %>
					<%= submit_tag 'Remove from cart' %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>

<% if @cart.order_items == [] %>
	Your cart is empty
<% else %>
	<b>Total price:</b><%= @total_price / 100.0 %>$
<% end %>
<br/>
<%= link_to "Confirm order", :action => :confirm %>
<br/>
<%= link_to "Back to main page", root_path %>