<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= search_form_for @q, :url => products_search_path do |f| %>
  		<%= f.label :name_cont, 'Name' %>
  		<%= f.text_field :name_cont %> <br/>
  		<%= f.label :description_cont, 'Description' %>
  		<%= f.text_field :description_cont %> <br/>
  		<%= f.label :price_gteq, 'Min price (in cents)' %>
  		<%= f.text_field :price_gteq %> <br/>
  		<%= f.label :price_lteq, 'Max price (in cents)' %>
  		<%= f.text_field :price_lteq %> <br/>
  		<%= f.submit %>
	<% end %>
<%= yield %>

</body>
</html>
